<form [formGroup]="loginForm">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

                                <div class="form-group">
                                    <div class="form-outline form-white mb-7">
                                        <div *ngIf="login">
                                            <p style="color: red;">Inavlid Username/Password</p>
                                        </div>
                                        <label class="form-label" >UserName</label>
                                        <input type="text" id="username" class="form-control form-control-lg"
                                            formControlName="username" placeholder="Enter Username" />
                                            
                                                <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="text-danger mt-2">
                                                    <div *ngIf="username.errors?.required">Username is required</div>
                                                    <div *ngIf="username.errors?.minlength">Username length Constraint</div>

                                             </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="typePasswordX">Password</label>
                                        <input type="password" id="password" class="form-control form-control-lg"
                                            formControlName="password" placeholder="Enter password" />
                                        <div *ngIf="!password?.valid && (password?.dirty || password?.touched) " class="text-danger mt-2">
                                            <div *ngIf="password.errors?.required">Password is required</div>
                                            <div *ngIf="password.errors?.minlength">Minimum length is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                        (click)="onSubmit()" [disabled]="!loginForm.valid">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

