<p>ddemo works!</p>

<form [formGroup]="demoForm" novalidate>
    <div class="row">
        <div class="col-md-3">
            <input type="text" formControlName="balance">
            <span class="text-danger" 
            *ngIf="balance.errors?.gte">
               Minimum  Balance is required
            </span>
        </div>
    </div>
</form>

<!-- <input type="text" class="form-control" formControlName="email">    
<span class="text-danger"    
    *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">    
    Email is required    
</span>    
<span class="text-danger"    
    *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">    
    Enter a valid email address    
</span> -->