<!-- <div *ngFor="let trans of transaction;let i = index">
    <p>{{trans.transfertypecode}}</p>
    <p>{{ trans.transfertypedescription}}</p>
</div> -->
<!-- <h1>{{outputstring}}</h1> -->

<!-- <h1>{{transactions}}</h1> -->
<div class="container-fluid">
    <table class="table table-hover mt-5">
        <thead>
            <th>S.No</th>
            <th>Receiver Name</th>
            <th>Receiver Account Number</th>
            <th>Bank Name</th>
            <th>Amount Transferd</th>
            <th>Transaction Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of transactiontable ;let i=index;">
                <td>{{i+1}}</td>
                <td>{{p.receiveraccounholdername}}</td>
                <td>{{p.receiveraccounholdernumber}}</td>
                <td>{{p.bankName}}</td>
                <td>{{p.currencyamount}}</td>
                <td>{{p.transferdate}}</td>
               
           
        </tbody>
    </table>
</div>