
<div class="container-fluid">
    <table class="table table-hover mt-5">
        <thead>
            <th>S.No</th>
            <th>Receiver Name</th>
            <th>Receiver Account Number</th>
            <th>Bank Name</th>
            <th>Amount Transferd</th>
            <th>Transaction Date</th>
        </thead>
        <tbody>
            <tr class="table-info" *ngFor="let p of transactiontable ;let i=index;">
                <td>{{i+1}}</td>
                <td>{{p.receiveraccounholdername}}</td>
                <td>{{p.receiveraccounholdernumber}}</td>
                <td>{{p.bankName}}</td>
                <td>{{p.currencyamount}}</td>
                <td>{{p.transferdate}}</td>
               
           
        </tbody>
    </table>
</div>